<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
    
    <!--fonts-->
    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  </head>
  <body>
    
    <div class="container-fluid">
      <h1>Inspirational Quotes</h1>
      <form method="post" action="/result">
        <br>
        <span id="question">How are you feeling today?</span>
        
          <select  id="feeling" name="feeling"> 
            <option value="blank"></option>
            <option value="happy">Happy</option>
            <option value="sad">Sad</option>
            <option value="mad">Mad</option>
            <option value="anxious">Anxious</option>
            <option value="other">Others</option>
          </select>

        
        
        <center>
          <input id="Subs" type="submit" value="Get a quote!">
        </center>
      </form>
          <br>
    </div>
    
  </body>
</html>
